@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Macarena lyrics";
}

<a asp-area="" asp-controller="Lab1" asp-action="Index">back &lt;-</a>
<h1>Macarena</h1>
Dale a tu cuerpo alegria Macarena
<br>
Que tu cuerpo es pa' darle alegria y cosa buena
<br>
Dale a tu cuerpo alegria, Macarena
<br>
Hey Macarena
<br>
<br>
Macarena tiene un novio que se llama
<br>
Que se llama de apellido Vitorino,
<br>
Que en la jura de bandera el muchacho
<br>
Se metio con dos amigos
<br>
{X2}
<br>
<br>
{Au Refrain, x2}
<br>
<br>
Macarena sueña con El Corte Ingles
<br>
Que se compra los modelos mas modernos
<br>
Le gustaria vivir en Nueva York
<br>
Y ligar un novio nuevo
<br>
{X2}
<br>
<br>
{Au Refrain, x2}
<br>
<br>
Macarena tiene un novio que se llama
<br>
Que se llama de apellido Vitorino,
<br>
Que en la jura de bandera el muchacho
<br>
Se metio con dos amigos
<br>
{X2}
<br>
<br>
{Au Refrain, x2}