@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Somebody To Love";
}

<a asp-area="" asp-controller="Lab1" asp-action="Index">back &lt;-</a>
<h1>Jefferson Airplane - Somebody to love</h1>
When the truth is found to be lies
<br>
And all the joy within you dies
<br>
Don't you want somebody to love
<br>
Don't you need somebody to love
<br>
Wouldn't you love somebody to love
<br>
You better find somebody to love
<br>
When the garden flowers, baby are dead, yes and
<br>
Your mind, your mind is so full of red
<br>
Don't you want somebody to love
<br>
Don't you need somebody to love
<br>
Wouldn't you love somebody to love
<br>
You better find somebody to love
<br>
Your eyes, I say your eyes may look like his
<br>
Yeah, but in your head, baby
<br>
I'm afraid you don't know where it is
<br>
Don't you want somebody to love
<br>
Don't you need somebody to love
<br>
Wouldn't you love somebody to love
<br>
You better find somebody to love
<br>
Tears are running down and down and down your breast
<br>
And your friends, baby they treat you like a guest
<br>
Don't you want somebody to love
<br>
Don't you need somebody to love
<br>
Wouldn't you love somebody to love
<br>
You better find somebody to love
