@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">U r welcome! :)</h1>
    <h4>Anosov Igor IT-83</h4>
    <ul>
        <li><a asp-area="" asp-controller="Lab1" asp-action="Index">Lab1</a></li>
    </ul>
</div>
